@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);




.form-class{
	/*border: 2px solid black;*/
	border-color: red;
	width: 100%;
	margin: left;
	margin-top: 10px;
	margin-bottom: 10px;
	color:black;
	background-color: black;
	border-radius:10px;

}
.poster{
	border: 0px solid black;
	/*border-color: red;*/
	width: 22.7%;
	margin: left;
	/*background-color: #29b55f;*/
	background-color: white;
	/*border-radius:10px;*/
	margin-top:30px;
	margin-bottom: 10px;
	float:left;
	/*clear:both;*/
}

.moviename{
	color:red;
	margin-left: 10px;
	margin-top:-20px;
	font-size:50px;
	/*clear:both;*/
}

.bigbox{
	/*border:2px solid red;*/
	width:75%;
	margin-left: -9px;
	float: right;
}


.box1{
	
	/*border:2px solid red;*/
	float:left;
    margin-top:0px;
	background-color:white;
	margin:left;
	margin-left: 10px;
	width:15%;
	clear: right;
	
}


.box2{
	   
	/*border:2px solid red;*/
	
    margin-top:0px;
	background-color:white;
	margin:left;
	margin-left: 10px;
	width:47%;
	float:left;
	margin-bottom: 20px;
	clear: left;
}

.box3{
	
	/*border:2px solid red;*/
	
    margin-top:0px;
	background-color:white;
	margin:left;
	margin-left: 10px;
	width:47%;
	float:left;
	margin-bottom: 25px;
	/*clear: left;*/
	
}

.box4{
	
	/*border:2px solid red;*/
	
    margin-top:-5px;
	background-color:white;
	margin:left;
	margin-left: 0px;
	width:100%;
	float:left;
	/*color: blue;*/
	margin-bottom: 10px;
	/*clear: left;*/
	
}

.box5{
	
/*	border:2px solid red;*/
	float:left;
    margin-top:-50px;
	background-color:white;
	margin:left;
	margin-left: 10px;
	margin-bottom: 50px;
	width:95%;
	/*clear: right;*/
	
}

.box6{
	/*border:0px solid red;*/
	
    margin-top:0px;
	background-color:white;
	margin:left;
	margin-left: 10px;
	width:47%;
	float:left;
	margin-bottom: 60px;
	/*clear: left;*/
	
}

.box7{
	
	/*border:2px solid red;*/
	
    margin-top:-10px;
	background-color:white;
	margin:left;
	margin-left: 10px;
	margin-bottom: 10px;
	width:40%;
	float:left;

	/*clear: right;*/
	
}

.box8{
	/*border:2px solid red;*/
	
    margin-top:-10px;
	background-color:white;
	margin:left;
	margin-left: 10px;
	width:40%;
	float:left;
	/*clear: right;*/

}

.box9{
	/*border:2px solid red;*/
	
    margin-top:-23px;
	background-color:white;
	margin:left;
	margin-left: -2px;
    margin-bottom:20px;
	width:100%;
	float:left;
	clear:right;
	padding-bottom: 0px;


}

.box10{
	/*border:2px solid red;*/
	
    margin-top:-7px;
	background-color:white;
	margin:left;
	margin-left: 10px;

	width:27%;
	float:left;

	clear: left;
}

.box11{
	/*border:2px solid red;*/
	margin-top: 0px;
	width: 35%;
	margin-left: 20px;
	float:left;
}

.box12{
	
	/*border:2px solid red;*/
	
    margin-top:-10px;
	background-color:white;
	margin:left;
	margin-left: 0px;
	margin-bottom: 10px;
	width:27%;
	float:left;

	/*clear: right;*/
	
}

.description{
	float:left;
	/*border:2px solid red;*/
	font-size: 24px;
	background-color: white;
	margin:left;
	margin-left: 10px;
	margin-top: -7px;
	margin-bottom: 5px;
	width:60%;
	clear:left;
	float:left;

}

.submit{
	/*padding: 10px;*/
	/*border: 1px solid #ccc;*/
	border-radius: 3px;
	width: 10%;
	/*box-sizing: content-box;*/
	font-family: montserrat, arial, verdana;
	color: red;
	font-size: 15px;
	text-align: center;
	display: block;
	margin-top:7px;
	/*margin: auto;*/
	float: left;
	/*clear:both;*/

}




fieldset, label { margin: 0; padding: 0; }
body{ margin: 10px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: 2px solid white;
  float: left;
  width:%;
  clear:both;

}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd;

 float: right;
 margin-left: 0px; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 